<!DOCTYPE html>
<html>
<head>
  <title>ReactOnRailsWithWebpacker</title>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'tracker-bundle' %>
</head>

<body>
<%= yield %>

<%= redux_store_hydration_data %>
</body>
</html>
